body{
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
     margin: 10px 15px 0px 15px;  
    display: flex;  
    justify-content:space-around; 
     align-items:center; 
}

h1 {
    color: blueviolet;
    letter-spacing: 10px;
    text-decoration: underline;
}

#hover h2 {
    margin-left: 40px;
}
.start-btn{
 width:70px;
 height:30px;
 background-color: blueviolet;
 color: white;
}

#highScores {
    color: black;
    font-weight: bolder;
    visibility: hidden;
} 

#hover:hover #highScores{
    visibility:visible;
}


.all-questions{
    border:3px solid blueviolet;
    padding: 8px;
    letter-spacing: 2px;
    background-color: white;
}

.all-answers{
    letter-spacing: 2px;
    line-height: 30px;
}

li:hover{
    text-shadow: .5px .5px;
}
.submit-btn {
    background-color: white;
    padding: 8px;
    letter-spacing: 1.5px;
    color: blueviolet;
}

.submit-btn:hover{
    transform: scale(1.1);
}
